.pagenotfound {
    text-align: center;
    margin-top: 20%;
}

.text_notfound {
    font-weight: 100;
    font-size: 25px;
}

.link {
    color: rgb(211, 115, 115);
}

.link:hover {
    color: rgb(136, 121, 92);
}

@media screen and (max-width: 1200px) {
    .pagenotfound {
        margin-left: 16px;
    }
}
