.wrapper {
    background: #eef5ff;
    min-height: 100vh;
    width: 100%;
}

.btnBack {
    cursor: pointer;
    width: 105px;
    height: 30px;

    background: #fff;
    box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.15);
    border-radius: 10px;
    border: inherit;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;

    color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* margin-top: 30px; */
    margin-bottom: 30px;
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnBack:hover {
    box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.5);
}

.form_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.form {
    background: #fff;
    width: 500px;
    height: 510px;
    padding: 30px;
    border-radius: 15px;
}

.form_login {
    background: #fff;
    width: 500px;
    height: 275px;
    padding: 30px;
    border-radius: 15px;
}

.form_signup {
    background: #fff;
    width: 500px;
    height: 420px;
    padding: 30px;
    border-radius: 15px;
}

.form_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form_btn {
    cursor: pointer;
    width: 139px;
    height: 33px;
    align-items: center;
    background: #67bfff;
    color: #fff;
    box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.15);
    border-radius: 10px;
    border: inherit;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_btn:hover {
    box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.5);
}

.input {
    display: flex;
    width: 100%;
    height: 33px;
    font-size: 16px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-style: normal;

    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.textarea {
    width: 440px;
    height: 150px;
    left: 500px;
    top: 380px;
    font-size: 17px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-style: normal;

    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 5px;
}

.label {
    font-style: normal;
    /* font-weight: 300; */
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
    color: #222222;
    /* padding-bottom: 5px; */
}

.redirect_page {
    text-align: center;
    cursor: pointer;
    color: #3260a1;
}

.redirect_page:hover {
    color: green;
}
