.wrapper {
    background: #eef5ff;
    min-height: 100vh;
    width: 100%;
    padding-top: 30px;
}

.post_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 30px;
}
.card {
    width: 350px;
    height: 270px;
    border-radius: 20px;
    margin-top: 50px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover {
    transform: scale(1.1);
}

.post_title {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    color: #3260a1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fefefe;
    border-radius: 0px 0px 15px 15px;
    padding: 15px 20px;
}
