.wrapper {
    background: #fefefe;
    min-height: 100vh;
    width: 100%;
}

.btnBack {
    width: 115px;
    height: 30px;

    background: #fff;
    box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.15);
    border-radius: 10px;
    border: inherit;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #3260a1;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnBack:hover {
    box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.5);
}
