.table {
    margin-top: 40px;
    width: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    cursor: pointer;
}

.imageURL {
    max-width: 250px;
    padding-right: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.th_title {
    text-align: left;
}

.th {
    text-align: left;
}

.th_action {
    text-align: center;
}

.edit {
    color: green;
    text-align: center;
}

.edit:hover {
    color: blue;
}

.td_action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    height: 50px;
    border: 1px solid #ddd;
    padding: 8px;
}

.thead {
    background: #bdd5f7;
}

.tr:hover {
    background: rgb(241, 234, 234);
}

@media screen and (max-width: 1200px) {
    .table {
        margin: 30px 16px 0px 16px;
        width: 100%;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        cursor: pointer;
    }

    .title {
        padding-left: 16px;
    }

    .imageURL {
        max-width: 250px;
        padding-right: 5%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .content {
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .th {
        text-align: left;
    }

    .th_title {
        text-align: left;
        padding-left: 16px;
    }

    .th_action {
        text-align: center;
    }
}
