.AddPostBtn {
    position: absolute;
    width: 139px;
    height: 25px;

    color: #ffffff;
    background: #67bfff;

    box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.15);
    border-radius: 10px;
    border: 1px solid #67bfff;

    /* left: 50%; */
    top: 80px;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 17px;
}

.AddPostBtn:hover {
    box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.5);
}

@media screen and (max-width: 1200px) {
    .AddPostBtn {
        position: absolute;
        width: 100px;
        height: 20px;

        color: #ffffff;
        background: #67bfff;

        box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.15);
        border-radius: 10px;
        border: 1px solid #67bfff;

        margin-left: 16px;
        /* left: 50%; */
        top: 70px;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        font-size: 14px;
    }
}
