.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.Nav {
    background: #fefefe;
    padding: 17px;
}

.NavbarItem {
    position: relative;
}

.logo {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #3260a1;
    cursor: pointer;
    padding-right: 15px;
    /* float: left; */
}

.AddPostBtn {
    position: absolute;
    width: 139px;
    height: 25px;

    color: #ffffff;
    background: #67bfff;

    box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.15);
    border-radius: 10px;
    border: 1px solid #67bfff;

    /* left: 50%; */
    top: 80px;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 17px;
}

.AddPostBtn:hover {
    box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.5);
}

.box {
    display: block;
}

.logout {
    position: absolute;
    right: calc(50% - 600px);
    color: #3260a1;
    cursor: pointer;
    font-size: 17px;
    width: 150px;
    text-align: center;
}

.logout2 {
    position: absolute;
    margin-top: 30px;
    right: calc(50% - 600px);
    margin-right: 10px;
    color: #3260a1;
    cursor: pointer;
    font-size: 17px;
    background: #fff;
    width: 135px;
    height: 30px;
    margin-right: 10px;
    border-radius: 4px;
    text-align: center;
}

.logout2:hover {
    background: rgb(247, 241, 241);
}

.dropdown {
    position: absolute;
    right: calc(50% - 600px);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .NavbarItem {
        position: relative;
    }
    .logo {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
        color: #3260a1;
        cursor: pointer;
        padding-right: 12px;
    }

    .logout {
        position: absolute;
        right: 0px;
        font-size: 14px;
        text-align: center;
    }

    .logout2 {
        position: absolute;
        margin-top: 30px;
        right: 20px;
        font-size: 14px;
        /* margin-right: 10px; */
        color: #3260a1;
        cursor: pointer;
        background: #fff;
        width: 100px;
        height: 30px;
        text-align: center;
    }

    .dropdown {
        position: absolute;
        right: 10px;
        cursor: pointer;
    }
    .AddPostBtn {
        position: absolute;
        width: 100px;
        height: 20px;

        color: #ffffff;
        background: #67bfff;

        box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.15);
        border-radius: 10px;
        border: 1px solid #67bfff;

        /* left: 50%; */
        top: 70px;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        font-size: 14px;
    }
}
