.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.text {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.link {
    color: aqua;
}

@media screen and (max-width: 1200px) {
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin: 5px 0px;
    }
    .text {
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
    }
}
