.card {
    width: 350px;
    height: auto;
    border-radius: 20px;
    margin-top: 40px;
    position: relative;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card:hover {
    transform: scale(1.1);
}

.post_title {
    font-weight: 700;
    /* text-align: center; */
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    color: #3260a1;
    /* position: absolute; */
    background: #fefefe;
    border-radius: 0px 0px 15px 15px;
    padding: 15px 20px;
}

.post {
    display: block;
    text-align: center;
}
